<h1>Edit Product</h1>

<form (submit)="update()" name = "formdata" #formdata='ngForm'>
  <label>Title: </label><input type="text" name="title" value = "{{ product.title }}" required  minlength="4" [(ngModel)] = 'product.title' #title="ngModel">
  <p *ngIf="title.invalid && (title.dirty || title.touched)">Your Title must be at least 4 characters long</p>
  <br>
  <label>Price: </label><input type="text" name="price" value = "{{ product.price }}" required [(ngModel)] = 'product.price' #price="ngModel">
  <p *ngIf="price.invalid && (price.dirty || price.touched)">You must specify a price!</p>
  <br>
  <label>Image Url: </label><input type="text" name="imgurl" value = "{{ product.imgurl }}" [(ngModel)] = 'product.imgurl' #imgurl="ngModel">
  <br>
  <button (click) = "delete(product.id)">Delete</button>
  <input type="submit" value = "Update" *ngIf= "formdata.status == 'VALID'">
</form>